.coverage
**/.idea/*
.idea/*
**/__pycache__/**
.DS_Store
./translator/source_code/*.geojson
icone_to_wzdx_test.geojson
icone_wzdx_translated_output_message.geojson
cotrip_translated_output_message.geojson
cotrip_wzdx_translated_output_message.geojson
.vscode/settings.json
*.pyc
*.geojson
test-output.xml
