.coverage
**/.idea/*
.idea/*
**/__pycache__/**
.DS_Store
./wzdx/source_code/*.geojson
icone_to_wzdx_test.geojson
icone_wzdx_translated_output_message.geojson
cotrip_translated_output_message.geojson
cotrip_wzdx_translated_output_message.geojson
.vscode/settings.json
*.pyc
*.geojson
test-output.xml
build/**
dist/**
wzdx_translator_jacob6838.egg-info/*
cdot_wzdx_translator.egg-info/*
translate_icone.py
translate_navjoy.py
icone_arrow_boards/**