attrs==25.4.0 ; python_version >= "3.12" and python_version < "4.0"
certifi==2025.11.12 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.4 ; python_version >= "3.12" and python_version < "4.0"
geographiclib==2.1 ; python_version >= "3.12" and python_version < "4.0"
geopy==2.4.1 ; python_version >= "3.12" and python_version < "4.0"
idna==3.11 ; python_version >= "3.12" and python_version < "4.0"
jsonschema-specifications==2025.9.1 ; python_version >= "3.12" and python_version < "4.0"
jsonschema==4.25.1 ; python_version >= "3.12" and python_version < "4.0"
numpy==2.3.4 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
pytz==2025.2 ; python_version >= "3.12" and python_version < "4.0"
referencing==0.37.0 ; python_version >= "3.12" and python_version < "4.0"
regex==2025.11.3 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.12" and python_version < "4.0"
rpds-py==0.28.0 ; python_version >= "3.12" and python_version < "4.0"
shapely==2.1.2 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version == "3.12"
urllib3==2.5.0 ; python_version >= "3.12" and python_version < "4.0"
xmltodict==1.0.2 ; python_version >= "3.12" and python_version < "4.0"
