name: cv-manager

on: [pull_request, push]

jobs:
  build_wzdx:
    runs-on: ubuntu-latest
    container:
      image: python:3.11.14-slim
      options: --user root
    steps:
      - name: Checkout ${{ github.event.repository.name }}
        uses: actions/checkout@v3

      - name: Install Poetry
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install poetry

      - name: Install Main Dependencies
        run: |
          poetry install --only main

      - name: Install Dev Dependencies
        run: |
          poetry install --only dev

      - name: Run Tests and Generate Coverage
        continue-on-error: false
        run: |
          poetry run pytest --cov=wzdx --cov-report=xml:cov.xml

      - name: Archive Code Coverage Results
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: cov.xml
