name: cv-manager

on: [pull_request, push]

jobs:
  build_wzdx:
    runs-on: ubuntu-latest
    container:
      image: python:3.12.2
      options: --user root
    steps:
      - name: Checkout ${{ github.event.repository.name }}
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          apt-get update
          apt-get -y install python3-coverage python3-pip python3-pytest

      - name: Install Python Requirements
        run: python3 -m pip install -r $GITHUB_WORKSPACE/requirements.txt

      - name: Run Tests and Generate Coverage
        continue-on-error: false
        run: |
          # Set PYTHONPATH and navigate to the tests directory
          export PYTHONPATH=$PYTHONPATH:/usr/lib/python3/dist-packages
          cd $GITHUB_WORKSPACE

          # Run tests and generate coverage report
          python3 -m coverage run -m pytest
          python3 -m coverage xml --omit="/opt/*,/root/*,/tmp/*,/usr/*,/var/*,**/__init__.py"

      - name: Archive Code Coverage Results
        uses: actions/upload-artifact@v4
        with:
          name: build_api
          path: cov.xml
